body { width: 40em; margin: 0 auto 0 auto; padding: 1em; }
dt { font-weight: bold; }

.tbl1 { border-collapse: collapse; border: 1px solid grey; 
		font-family: sans-serif; font-size: small;
		}
.tbl1 th { border: 1px solid grey; }
.tbl1 td { border: 1px solid grey; }

#toplinks { float: right; font-family: sans-serif; font-size: small; }
#toplinks a { text-decoration: none; color: blue; }
#toplinks a:active { background: yellow; }
